.everythinginbody {
  max-width: 1000px;
  margin: auto;
}

.fakeinfo {
  width: 100%;
  text-align: right;
  font-family: sans-serif;
  padding: 2px;
  color: white;
  background-color: #0a6ba1;
}

.fakeinfo h3 {
  font-size: 1.5em;
}

.fakeinfo p {
  font-size: smaller;
}

/*FIGURE OUT POSITIONING*/
.logonav {
  position: relative;
}

img#logo {
  width: 40%;
  float: left;
}

.mainnav {
  display: inline-block;
  float: right;
  padding-top: 20px;
}

nav a {
  color: blue;
  text-decoration: none;
  font-family: sans-serif;
  margin: 10px;
}

nav a:hover {
  color: #0d8bd1;
}
/*THIS POSITIONING MAKES THE <div>s LINE UP.
ALSO TURNS <nav> USELESS*/
.maindiv {
  position: absolute;
}
/**/
img#handsomehero {
  width: 50%;
  margin-top: 110px;
  float: left;
}

.blueform {
  width: 450px;
  height: 350px;
  margin-left: 500px;
  margin-top: 110px;
  line-height: 1.2;
  background-color: #0d8bd1;
  padding: 10px;
  font-family: sans-serif;
}

.freequote {
  text-align: center;
  color: white;
}

.freequote h5 {
  margin-top: 5px;
}

.theform {
  background-color: #0a6ba1;
  padding: 50px;
}

.theform .statequote {
  padding-bottom: 25px;
}

.theform label {
  display: block;
}

.theform input {
  padding: 6px;
  width: 75%;
}

.button {
  color: white;
  background-color: #f89406;
  width: 75%;
  padding: 5px;
  border-radius: 5px;
}

.button:hover {
  color: white;
  background-color: #f88500;
}
